<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/sign_up.css">
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous" />
        <link rel="stylesheet" type="text/css" href="/static/base.css">
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <title>Sign Up</title>
    </head>
    <body>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
            {% if category == 'error' %}
            <div class="alert alert-danger alter-dismissable fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% else %}
            <div class="alert alert-success alter-dismissable fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endif %}
        {% endfor %}
        {% endif %}
        {% endwith %}
        <div class="background-div-general">
            <div class="form-div-general">
                <form method="POST">
                    <div class="form-div-heading-fulltable">
                        <ul class="form-ul-heading">
                            <li class="form-li-heading">
                                Sign Up
                            </li>
                        </ul>
                    </div>
                    <div class="form-body-div-fulltable">
                        <div class="form-body-div-1">
                            <div class="form-body-div-logo-1">
                                <div class="form-body-div-logo-2">
                                    <img class="form-body-img-logo" src="https://static.www.nfl.com/image/upload/v1554321393/league/nvfr7ogywskqrfaiu38m.svg">
                                </div>
                            </div>
                            <div class="form-body-div-heading">Bienvenid@ a la Quiniela NFL</div>
                            <div class="form-body-div-description">Cree una cuenta ingresando sus datos</div>
                        </div>
                        <div class="form-body-div-2">
                            <div class="form-body-div-email-password">
                                <div class="form-body-div-email-password-label">Correo electrónico</div>
                                <div class="form-body-div-email-password-textbox">
                                    <input class="form-body-input-textbox" type="email" name="email" id="email" placeholder="Ingrese su correo">
                                </div>
                            </div>
                        </div>
                        <div class="form-body-div-2">
                            <div class="form-body-div-email-password">
                                <div class="form-body-div-email-password-label">Nombre</div>
                                <div class="form-body-div-email-password-textbox">
                                    <input class="form-body-input-textbox" type="text" name="first_name" id="first_name" placeholder="Ingrese su nombre">
                                </div>
                            </div>
                        </div>
                        <div class="form-body-div-2">
                            <div class="form-body-div-email-password">
                                <div class="form-body-div-email-password-label">Apellido</div>
                                <div class="form-body-div-email-password-textbox">
                                    <input class="form-body-input-textbox" type="text" name="last_name" id="last_name" placeholder="Ingrese su apellido">
                                </div>
                            </div>
                        </div>
                        <div class="form-body-div-2">
                            <div class="form-body-div-email-password">
                                <div class="form-body-div-email-password-label">Contraseña</div>
                                <div class="form-body-div-email-password-textbox">
                                    <input class="form-body-input-textbox" type="password" name="password1" id="password1" placeholder="Ingrese su contraseña">
                                </div>
                            </div>
                        </div>
                        <div class="form-body-div-2">
                            <div class="form-body-div-email-password">
                                <div class="form-body-div-email-password-label">Contraseña (confirmación)</div>
                                <div class="form-body-div-email-password-textbox">
                                    <input class="form-body-input-textbox" type="password" name="password2" id="password2" placeholder="Confirme su contraseña">
                                </div>
                            </div>
                        </div>
                        <div class="form-body-div-4">
                            <div class="form-body-div-button-1">
                                <div class="form-body-div-button-2">
                                    <div class="form-body-div-button-3">
                                        <div class="form-body-div-button-4">
                                            <button type="submit" class="form-body-button-submit">Sign Up</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-body-div-5">
                            <div class="form-body-div-new-account">
                                Ya tienes una cuenta?
                            </div>
                            <a class="form-body-a-new-account" href="/login">Iniciar sesión</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <script
        src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"
        ></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"
        ></script>
        <script type="text/javascript" src="{{ url_for('static', filename='index.js')}}">
        </script>
    </body>
</html>